{% load staticfiles %}
<!--DOCTYPE html -->

<html>
<head>
<title>{% block head_title %}|{% endblock head_title %}A GGing Website</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

{% block content %}
<img src="{% static "post/cloud.jpeg" %}" alt="My image"/>
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>

<div class="pagination">
    <span class="step-links">

    {% for article in Articles %}
        <a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></br>
        {{ article.publish }}</br>

        {{ article.body }}</br>
        <light>======================================</light></br>
    {% endfor %}
    {% if Articles.has_previous %}
        <a href="?page={{ Articles.previous_page_number }}">previous</a>
    {% endif %}

        <span class="current">
            Page {{ Articles.number }} of {{ Articles.paginator.num_pages }}.
        </span>

        {% if Articles.has_next %}
            <a href="?page={{ Articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>
{{ test_dict.one }}
{% endblock content %}



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>